body
{
	background-image: url('images/three.jpg');
	display: absolute;
	font-family: "Comfortaa";
	font-weight: bold;
}

div
{
	text-align: center;
}

#text
{
	text-align: center;
	font-size: 500%;
}

#imgDiv
{
	display: inline-block;
}

#stats
{
	display: absolute;
	text-align: left;
}
	